<div id="<%= dom_id car %>">
  <p>
    <strong>Car:</strong>
    <%= car.car_id %>
  </p>

  <p>
    <strong>Car name:</strong>
    <%= car.car_name %>
  </p>

  <p>
    <strong>Car model:</strong>
    <%= car.car_model %>
  </p>

  <p>
    <strong>Car detail:</strong>
    <%= car.car_detail %>
  </p>

  <p>
    <strong>Seller name:</strong>
    <%= car.seller_name %>
  </p>

  <p>
    <strong>Issue year:</strong>
    <%= car.issue_year %>
  </p>

  <p>
    <strong>Car condition:</strong>
    <%= car.car_condition %>
  </p>

  <p>
    <strong>Car image:</strong>
    <%= car.car_image %>
  </p>

</div>
