<%= form_with(model: car) do |form| %>
  <% if car.errors.any? %>
    <div style="color: black">
      <h2><%= pluralize(car.errors.count, "error") %> Please Add All Fields:</h2>

      <ul>
        <% car.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :model, style: "display: block" %>
    <%= form.text_field :model %>
  </div>
  <div>
    <%= form.label :details, style: "display: block" %>
    <%= form.text_field :details %>
  </div>

  <div>
    <%= form.label :seller_name, style: "display: block" %>
    <%= form.text_field :seller_name %>
  </div>
  <div>
    <%= form.label :category_id, "Select Category", style: "display: block" %>
    <%= form.select :category_id,  options_from_collection_for_select(Category.all, :id, :name, form.object.category_id) %>
  </div>
  <div>
    <%= form.label :city_id, "Select City" , style: "display: block" %>
    <%= form.select :city_id,  options_from_collection_for_select(City.all, :id, :name, form.object.city_id) %>
  </div>

  <div>
    <%= form.label :make_id, "Select Make", style: "display: block" %>
    <%= form.select :make_id,  options_from_collection_for_select(Make.all, :id, :name, form.object.make_id) %>
  </div>

  <div>
    <%= form.label :issue_year, style: "display: block" %>
    <%= form.number_field :issue_year %>
  </div>

  <div>
    <%= form.label :condition, style: "display: block" %>
    <%= form.text_field :condition %>
  </div>

  <div>
    <%= form.label :image, style: "display: block" %>
    <%= form.text_area :image %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
